body{
    margin:0%;
    padding:0%;
    background-color:white;
    font-family:'ROBOTO',sans-serif;
}
.slides{
    display:none
}
.slideshow-container{
    margin-left:35%;
    width:100%;
}

h1{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
}
h3{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
    padding-top:3%;
}

#pic1-p,#pic2-p,#pic3-p,#pic4-p,#pic5-p,#pic6-p,#pic7-p,#pic8-p,#pic9-p,#pic10-p,#pic11-p,#pic12-p{
    font-size:12px;
      display:none;  
}

h4{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
    padding-top:3%;
}
#slide1-p,#slide2-p, #slide3-p{
    display:none;
    font-size:12px;
}
#men1-p,#men2-p,#men3-p{
    display:none;
    font-size:12px;
}
#kid1-p,#kid2-p,#kid3-p{
    display:none;
    font-size:12px;
}
#twenties,#twenties2,#twenties3{
    padding-left:5%;

}