body{
    margin:0%;
    padding:0%;
    background-color:white;
    font-family:'ROBOTO',sans-serif;
}
.slides{
    display:none
}
.slideshow-container{
    margin-left:35%;
    width:100%;
}

h1{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
}
h3{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
    padding-top:3%;
}

#history{
    font-size:12px;
      display:none;  
}
.clickable{
    padding-left:5%;
    padding-top:5%;
}

