body{
    margin:0%;
    padding:0%;
    background-color:white;
    font-family:'ROBOTO',sans-serif;
}
h1,h3{
    color:lightseagreen;
    font-style:bold;
    padding-left:40%;
    padding-top:5%;
}

#history{
    font-size:12px;
      display:none;  
}
.clickable, .clickable2{
    padding-left:5%;
    padding-top:5%;
}
