@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,700;1,400&family=Libre+Baskerville&display=swap');


.about{
     text-align: center;
     font-family: 'Libre Baskerville', serif;
     font-size: larger;
}
.inter{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    padding-top: 3%;
    color: black;
}
#yea{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 0vh;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly,space-between;
}
.best{
    text-align: center;
    font-size: x-small;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
    color: wheat;
}
.wee{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    font-size: large;
    color: wheat;     
}
.hear{
    background-color: rgb(66, 149, 177);
    padding-bottom: 8%;
}
#good{
    background-image: url("/images/shoesss.jpeg");
    opacity: 90%;
}
#img:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    } 
#img {
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
#love{
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
      
